#uploadSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

#uploadSection input,
#uploadSection button {
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    gap: 50px;
    font-weight: 100;
    font-family: libre franklin, sans-serif;
    color: #606062;
}

.navigation {
    font-weight: 100;
    font-family: libre franklin, sans-serif;
    color: #606062;
}

#reader {
    width: 100%;
    height: 120vh;
    overflow: auto;
    position: relative;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#epub-reader {
    background-color: #f9f9f9;
}

#reader canvas {
    width: 55%;
    height: 100%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navigation span {
    font-size: 16px;
    margin-left: 10px;
}

#reader img {
    margin-top: 12%;
    max-width: 140px;
    margin-bottom: 15px;
}

#reader p {
    font-size: 17px;
    gap: 50px;
    font-weight: 100;
    font-family: libre franklin, sans-serif;
    color: #606062;
}
