Flask==3.0.0
requests==2.31.0
pymongo==4.6.3
Flask-Cors==4.0.0
bcrypt==4.1.3
boto3==1.34.115


nodejs==16.13.0
npm install jwt-decode
pip install lxml
pip install Pillow
pip install rst2epub2
io
pip install apscheduler
flask_mail
mailersend