body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* White background */
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-bottom: 20px;
  color: rgb(149, 149, 149);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 1.5px solid rgb(226, 65, 108);
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

select:focus {
  outline: none;
  border: 1.5px solid rgb(226, 65, 108);
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(226, 65, 108);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: medium;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: rgb(235, 156, 177);
}

.sign-up {
  text-align: center;
}

.sign-up a {
  color: rgb(226, 65, 108);
  text-decoration: none;
}